body {
    background-color: #EEEEEE !important;
    backdrop-filter: blur(7px);
}

.flag {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
}

.button {
    width: 300px;
    height: 150px;
    font-size: large;
    visibility: hidden;
}

.score {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.points {
    color: #198754;
    margin-top: 5px;
    margin-bottom: 0px;
}

.timer {
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.modal-content {
    border: none !important;
    border-radius: 10px !important;
    background-color: rgba(255, 255, 255, .8) !important;
    backdrop-filter: blur(8px);
}