body {
    background-color: #EEEEEE !important;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 480px;
    visibility: hidden;
}

.image {
    border-radius: 20px;
    max-height: 500px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.button {
    width: 300px;
    height: 150px;
    font-size: large;
    visibility: hidden;
}

.score {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.points {
    color: #198754;
    margin-top: 5px;
    margin-bottom: 0px;
}

.timer {
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.modal-content {
    border-radius: 1rem !important;
}