body {
    background-color: #EEEEEE !important;
    backdrop-filter: blur(7px);
}

.flag {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
}

.button {
    width: 300px;
    height: 150px;
    font-size: 1.3rem !important;
    border: none !important;
    visibility: hidden
}

.smallText {
    font-size: 1rem !important;
}

.mobileButton {
    height: 120px !important;
}

.score {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.points {
    color: #198754;
    margin-top: 5px;
    margin-bottom: 0px;
}

.timer {
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.modal-content {
    border: none !important;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8) !important;
    backdrop-filter: blur(8px);
}

.modalStart {
    background-color: #EEEEEE !important;
    padding-top: 28vh;
    padding-bottom: 25vh;
    border-radius: none !important;
}

p {
    font-family: 'hey_comic_regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    font-family: 'hey_comic_regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-light.noHover {
    background-color: #f8f9fa !important;
}

.noEvent {
    pointer-events: none;
    user-select: none;
}

@font-face {
    font-family: 'hey_comic_regular';
    src: url('./fonts/hey_comic-webfont.woff2') format('woff2'),
         url('./fonts/hey_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}